<a href="https://colab.research.google.com/github/aukabir/Microdata_creation/blob/main/Creating_micro_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd

# For integer observation
x=[1,2,3,4,5,6,7,8,9,10]
y=[2,5,6,4,3,2,1,4,5,6]

# Creating a DataFrame
data = {'x': x, 'y': y}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

    x  y
0   1  2
1   2  5
2   3  6
3   4  4
4   5  3
5   6  2
6   7  1
7   8  4
8   9  5
9  10  6

In [25]:
import pandas as pd
df = pd.DataFrame ({'Name': ['Alice', 'Bob', 'Charlie'],
                     'Age': [25, 30, 35],
                  'Salary': [50000, 60000, 70000]},
                   columns = ['Name','Age','Salary'])

# Displaying the DataFrame
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Geeks': [23, 24, 22],
                     'For': [10, 12, np.nan],
                   'geeks': [0, np.nan, np.nan]},
            columns =['Geeks', 'For', 'geeks'])

# Displaying the DataFrame
print(df)

   Geeks   For  geeks
0     23  10.0    0.0
1     24  12.0    NaN
2     22   NaN    NaN