<a href="https://colab.research.google.com/github/aukabir/Microdata_creation/blob/main/Creating_micro_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# For integer observation
import pandas as pd
x=[1,2,3,4,5,6,7,8,9,10]
y=[2,5,6,4,3,2,1,4,5,6,7]

In [8]:
df = pd.DataFrame
({'Name': ['Alice', 'Bob', 'Charlie'],
   'Age': [25, 30, 35],
   'Salary': [50000, 60000, 70000]})

{'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'Salary': [50000, 60000, 70000]}

In [10]:
df.head()

TypeError: ignored

In [7]:
z = pd.concat([x,y])

TypeError: ignored

In [ ]:
z=rbind(x,y)

In [ ]:
2	For string observation	>Import pandas as pd
>name=["hasan", "kabir", "alam", "tamim", "apel"]
3	Create a sample DataFrame
	>import pandas as pd
>df = pd.DataFrame
({'Name': ['Alice', 'Bob', 'Charlie'],
   'Age': [25, 30, 35],
   'Salary': [50000, 60000, 70000]})
	Create a DataFrame
	df = pd.DataFrame({'Geeks': [23, 24, 22],
                   'For': [10, 12, np.nan],
                 'geeks': [0, np.nan, np.nan]},
            columns =['Geeks', 'For', 'geeks'])
4	# export the DataFrame to an Excel file	>df.to_excel('report.xlsx', index=False)